<div class="input_field">
  	<%= label_tag "Temperature: " %><br>
  	<%= number_field_tag :temp %>
	</div>

	<div class="input_field">
		<%= label_tag "Scale: F or C" %><br>
		<%= text_field_tag :scale %>
	</div>
		<%= submit_tag "Convert!"%>