<div class="input_field">
  	<%= label_tag "Temperature: " %>
  	<%= text_field_tag :temp %>
	</div>

	<div class="input_field">
		<%= label_tag "Scale: F or C" %>
		<%= text_field_tag :scale %>
	</div>
		<%= submit_tag "Convert!"%>